.home .logo {
  border: 4px solid #fff;
  margin: 54px;
  height: 80px;
  width: 170px;
  display: flex;
  justify-content: center;
  font-size: 2.4rem;
  color: white;
  align-items: center;
  padding-top: 0;
  padding-bottom: 3px;
  line-height: 0;
  text-transform: uppercase;
}
.home .logo span {
  font-size: 1.6rem;
}
.home .info-section {
  width: 30%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.home .info-section .info-box {
  padding: 54px;
  padding-bottom: 0;
  position: absolute;
  bottom: 63px;
}
.home .info-section .info-box h4 {
  font-size: 1.2rem;
  color: #fefefe;
  margin: 0.7rem 0;
}
.home .info-section .info-box p {
  font-size: 1rem;
  font-weight: 300;
  color: #fefefe;
  margin: 0.2rem 0 1.6rem;
  text-decoration: none;
}
.home .info-section .info-box p a {
  text-decoration: none; 
  color: white;
} 
.home .info-section .info-box p a:hover {
  color: #f00;
}
.home .info-section .icon-section a {
  color: white;
  font-size: 1.5rem;
  padding: 0 10px;
  text-decoration: none;
}
.home .info-section .icon-section a:hover {
  color: #f00;
}
.home .info-section .icon-section a:first-child {
  padding: 0 10px 0 0;
}
.home .content-area {
  margin-left: 30%;
  width: 70%;
  height: 100%;
  background: white;
}
.home .content-area .img-container {
  display: inline-block;
  width: 25%;
  position: relative;
  height: 98%;
}
.home .content-area .img-container .user-img {
  position: absolute;
  left: -120px;
  top: 60px;
  width: 350px;
  height: calc(100% - 112px);
  background: url("../kunal__.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: 12px 8px 74px 6px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 12px 8px 74px 6px rgba(0, 0, 0, 0.34);
  box-shadow: 12px 8px 74px 6px rgba(0, 0, 0, 0.34);
}
.home .content-area .profile-section {
  max-width: 64%;
  vertical-align: top;
  display: inline-block;
  padding: 20% 0 0;
  padding-left: 9%;
}
.home .content-area .profile-section .profile h1 {
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 1.1;
  margin: 0 0 1rem;
}
.home .content-area .profile-section .profile h1 span {
  color: #4b21ff;
}
.home .content-area .profile-section .profile h5 {
  font-size: 1.1rem;
  margin: 0 0 1.5rem;
  font-weight: 400;
}
.home .content-area .profile-section .profile p {
  color: #272727;
  font-weight: 300;
  line-height: 1.3;
  margin: 0 0 1rem;
}
@media (max-width: 767px) {
  .home {
    overflow: hidden;
  }
  .home .menu-icon {
    top: -5px;
    right: 10px;
    color: white;
  }
  .home .menu-icon .fa {
    color: white;
  }
  .home .info-section {
    padding: 10px 15px;
    position: static;
  }
  .home .info-section .logo {
    margin: 0;
    font-size: 1.8rem;
    height: 45px;
    width: 130px;
  }
  .home .info-section .logo span {
    font-size: 1.3rem;
  }
  .home .info-section .info-box {
    display: none;
  }
  .home .content-area {
    margin-left: 0;
    width: 100%;
    overflow : auto;
  }
  .home .content-area .img-container {
    padding: 56px 20px 0;
    width: 37%;
  }
  .home .content-area .img-container .user-img {
    position: static;
    width: 100%;
    background-position: 70%;
  }
  .home .content-area .profile-section {
    width: 63%;
    float: right;
    padding: 12% 18px 30px 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .home .logo {
    margin: 54px 30px 54px 30px;
  }
  .home .info-section {
    width: 28%;
  }
  .home .info-section .info-box {
    margin: 10% 0 10% 10%;
    padding: 0;
    bottom: 50px;
    width: 90%;
  }
  .home .info-section .info-box .icon-section a {
    margin: 0;
    padding-right: 20px;
    padding-left: 0;
  }
  .home .info-section .info-box .icon-section a .fa-github {
    padding-right: 0;
    padding-left: 0;
  }
  .home .content-area {
    margin-left: 28%;
    width: 72%;
  }
  .home .content-area .img-container {
    padding: 56px 20px 0;
  }
  .home .content-area .img-container .user-img {
    background-position: 70%;
    position: static;
    width: 160%;
    top: 60px;
    height: calc(110% - 112px);
  }
  .home .content-area .profile-section {
    width: 70%;
    float: right;
    padding: 20% 20px 0;
  }
}
@media (min-width: 992px) and (max-width: 1280px) {
  .home .content-area .img-container .user-img {
    left: -34%;
    width: 155%;
  }
}
@media (min-width: 1281px) {
  .ghost-btn {
    margin-right: 15px;
  }
}
.resume .logo {
  border: 4px solid #fff;
  margin: 54px;
  height: 80px;
  width: 170px;
  display: flex;
  justify-content: center;
  font-size: 2.4rem;
  color: white;
  align-items: center;
  padding-top: 0;
  padding-bottom: 3px;
  line-height: 0;
  text-transform: uppercase;
}
.resume .logo span {
  font-size: 1.6rem;
}
.resume .info-section {
  width: 32%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}
.resume .info-section .info-box {
  padding: 54px;
  padding-bottom: 0;
  position: absolute;
  bottom: 63px;
}
.resume .info-section .info-box h4 {
  font-size: 1.2rem;
  color: #fefefe;
  margin: 0.7rem 0;
}
.resume .info-section .info-box p {
  font-size: 1rem;
  font-weight: 300;
  color: #fefefe;
  margin: 0.2rem 0 1.6rem;
}
.resume .info-section .icon-section a {
  color: white;
  font-size: 1.5rem;
  padding: 0 10px;
  text-decoration: none;
}
.resume .info-section .icon-section a:hover {
  color: #f00;
}
.resume .info-section .icon-section a:first-child {
  padding: 0 10px 0 0;
}
.resume .content-area {
  margin-left: 32%;
  width: 68%;
  height: 100%;
  background: white;
}
.resume .content-area .img-container {
  display: inline-block;
  width: 25%;
  position: relative;
  height: 98%;
}
.resume .content-area .img-container .user-img {
  position: absolute;
  left: -120px;
  top: 60px;
  width: 350px;
  height: calc(100% - 112px);
  background: url("../kunal__.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: 12px 8px 74px 6px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 12px 8px 74px 6px rgba(0, 0, 0, 0.34);
  box-shadow: 12px 8px 74px 6px rgba(0, 0, 0, 0.34);
}
.resume .content-area .profile-section {
  max-width: 64%;
  vertical-align: top;
  display: inline-block;
  padding: 20% 0 0;
  padding-left: 9%;
}
.resume .content-area .profile-section .profile h1 {
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 1.1;
  margin: 0 0 1rem;
}
.resume .content-area .profile-section .profile h1 span {
  color: #4b21ff;
}
.resume .content-area .profile-section .profile h5 {
  font-size: 1.1rem;
  margin: 0 0 1.5rem;
  font-weight: 400;
}
.resume .content-area .profile-section .profile p {
  color: #272727;
  font-weight: 300;
  line-height: 1.3;
  margin: 0 0 2rem;
}
.work .logo {
  border: 4px solid #fff;
  margin: 54px;
  height: 80px;
  width: 170px;
  display: flex;
  justify-content: center;
  font-size: 2.4rem;
  color: white;
  align-items: center;
  padding-top: 0;
  padding-bottom: 3px;
  line-height: 0;
  text-transform: uppercase;
}
.work .logo span {
  font-size: 1.6rem;
}
.work .info-section {
  width: 32%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}
.work .info-section .info-box {
  padding: 54px;
  padding-bottom: 0;
  position: absolute;
  bottom: 63px;
}
.work .info-section .info-box h4 {
  font-size: 1.2rem;
  color: #fefefe;
  margin: 0.7rem 0;
}
.work .info-section .info-box p {
  font-size: 1rem;
  font-weight: 300;
  color: #fefefe;
  margin: 0.2rem 0 1.6rem;
}
.work .info-section .icon-section a {
  color: white;
  font-size: 1.5rem;
  padding: 0 10px;
  text-decoration: none;
}
.work .info-section .icon-section a:hover {
  color: #f00;
}
.work .info-section .icon-section a:first-child {
  padding: 0 10px 0 0;
}
.work .content-area {
  margin-left: 32%;
  width: 68%;
  height: 100%;
  background: white;
}
.work .content-area .img-container {
  display: inline-block;
  width: 25%;
  position: relative;
  height: 98%;
}
.work .content-area .img-container .user-img {
  position: absolute;
  left: -120px;
  top: 60px;
  width: 350px;
  height: calc(100% - 112px);
  background: url("../kunal__.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: 12px 8px 74px 6px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 12px 8px 74px 6px rgba(0, 0, 0, 0.34);
  box-shadow: 12px 8px 74px 6px rgba(0, 0, 0, 0.34);
}
.work .content-area .profile-section {
  max-width: 64%;
  vertical-align: top;
  display: inline-block;
  padding: 20% 0 0;
  padding-left: 9%;
}
.work .content-area .profile-section .profile h1 {
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 1.1;
  margin: 0 0 1rem;
}
.work .content-area .profile-section .profile h1 span {
  color: #4b21ff;
}
.work .content-area .profile-section .profile h5 {
  font-size: 1.1rem;
  margin: 0 0 1.5rem;
  font-weight: 400;
}
.work .content-area .profile-section .profile p {
  color: #272727;
  font-weight: 300;
  line-height: 1.3;
  margin: 0 0 2rem;
}
.contact .logo {
  border: 4px solid #fff;
  margin: 54px;
  height: 80px;
  width: 170px;
  display: flex;
  justify-content: center;
  font-size: 2.4rem;
  color: white;
  align-items: center;
  padding-top: 0;
  padding-bottom: 3px;
  line-height: 0;
  text-transform: uppercase;
}
.contact .logo span {
  font-size: 1.6rem;
}
.contact .info-section {
  width: 30%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.contact .info-section .info-box {
  padding: 54px;
  padding-bottom: 0;
  position: absolute;
  bottom: 63px;
}
.contact .info-section .info-box h4 {
  font-size: 1.2rem;
  color: #fefefe;
  margin: 0.7rem 0;
}
.contact .info-section .info-box p {
  font-size: 1rem;
  font-weight: 300;
  color: #fefefe;
  margin: 0.2rem 0 1.6rem;
}
.contact .info-section .icon-section a {
  color: white;
  font-size: 1.5rem;
  padding: 0 10px;
  text-decoration: none;
}
.contact .info-section .icon-section a:hover {
  color: #f00;
}
.contact .info-section .icon-section a:first-child {
  padding: 0 10px 0 0;
}
.contact .content-area {
  margin-left: 30%;
  width: 70%;
  height: 100%;
  background: white;
}
.contact .content-area .img-container {
  display: inline-block;
  width: 25%;
  position: relative;
  height: 98%;
}
.contact .content-area .img-container .user-img {
  position: absolute;
  left: -120px;
  top: 60px;
  width: 350px;
  height: calc(100% - 112px);
  background: url("../kunal__.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: 12px 8px 74px 6px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 12px 8px 74px 6px rgba(0, 0, 0, 0.34);
  box-shadow: 12px 8px 74px 6px rgba(0, 0, 0, 0.34);
}
