@import './common.css';

.company-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.company-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 15px;
}

.team-info {
    margin-bottom: 15px;
    color: #333;
}

.team-info p, .team-info a {
    margin: 0;
    font-weight: 600;
    color: #3498db;
    text-decoration: none;
}

.team-info a:hover {
    text-decoration: underline;
}

.tech-stack {
    margin-bottom: 15px;
}

.tech-stack h4 {
    margin-bottom: 5px;
    color: #333;
    font-weight: 600;
}

.tech-stack p {
    margin: 0;
    color: #555;
}

.list-item-details {
    list-style-type: none;
    padding-left: 0;
    padding-right: 20px;
}

.list-item-detail {
    margin-bottom: 10px;
    color: #555;
    width: 100%;
}

.card-info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
}

.card-info-left,
.card-info-right {
    display: flex;
    flex-direction: column;
}

.card-info-right {
    text-align: right;
}

.card-subtitle {
    margin: 0 0 5px 0;
    font-size: 1.1em;
    font-weight: 600;
}

.card-team {
    margin: 0;
    color: #555;
}

.card-team a {
    color: #0077b5;
    text-decoration: none;
}

.card-team a:hover {
    text-decoration: underline;
}

.card-details,
.card-location {
    margin: 0;
    color: #555;
}

.card-details {
    margin-bottom: 5px;
}