@import './common.css';

.publication-publisher,
.publication-date,
.publication-citations,
.publication-doi,
.publication-abstract {
  margin: 5px 0;
  color: black;
}

.publication-doi a {
  color: #0056b3;
  text-decoration: none;
}

.publication-doi a:hover {
  text-decoration: underline;
}